table{font-size:16px;
		width:500px;
		height:250px;
		box-sizing:border-box;
		border:solid 5px grey;
		text-align:right;}
tr,th,td{border:solid 1px gray;}
@font-face{font-family:'mario';src:url(/mario.otf);}
#cabecera{background-image:url(/img/fondo.gif);
		font-family:mario;}
#euro{background:url(../img/euro.png) no-repeat left center;}
#dolar{background:url(../img/dolar.png) no-repeat left center;}
#libra{background:url(../img/libra.png) no-repeat left center;}
#yen{background:url(../img/yen.png) no-repeat left center;}
table tr:hover{background:yellow;}
th{cursor:pointer;}
.cambio td,.cambio3 td{background:#f2f5a9}

